.blinking {
  animation: blinker 1s linear infinite;
  margin-left: -10px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

input {
  display: inline;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  caret-color: transparent;
  font-size: 1.1em;
  padding: 0.5em;
}
